- var media = "http://cerafill.ru/img/mail/product/"
- var link = "http://cerafill.ru/"
- var link_fb = "https://www.facebook.com/REDKEN.HOTLINE.RUSSIA?fref=ts"
- var link_inst = "http://instagram.com/redkenrussia"

div(style="width:700px;background:url("+media+"bg.jpg) top left no-repeat;height:1681px;font-family: helvetica, arial, sans-serif")
    div(style="padding:0 75px")
        div(style="font-size:24px;padding-top:239px;") Спасибо за подписку на наши новости.
        div(style="font-size:30px;font-weight:bold;padding-top:26px") Мы понимаем вашу проблему-
        div(style="font-size:30px;font-weight:bold;") и поможем ее решить.
        div(style="font-size:36px;font-weight:bold;color:#01a68e;padding-top:48px;line-height:36px") Уже <span style="color:#000;">с 1 октября<span>
        div(style="font-size:36px;font-weight:bold;color:#01a68e;line-height:36px;") Вы можете прийти в
        div(style="font-size:36px;font-weight:bold;line-height:36px;") САЛОНЫ КРАСОТЫ REDKEN
        div(style="font-size:36px;font-weight:bold;color:#01a68e;line-height:36px;") и получить <span style="color:#000;">консультацию<span>
        div(style="font-size:36px;font-weight:bold;color:#01a68e;line-height:36px;") о состоянии Ваших волос
        div(style="font-size:36px;font-weight:bold;color:#01a68e;line-height:36px;") у наших специалистов.
        div(style="font-size:30px;font-weight:bold;color:#007eac;line-height:30px;padding-top:72px;") Так же Вам помогут правильно подобрать средства из серии продуктов <span style="color:#000;">CERAFILL.</span>
        div(style="text-align:center;color:#01a68e;font-size:30px;font-weight:bold;padding-top:560px") Здесь вы можете найти CERAFILL
        a(style="display:block;background:#01a68e url("+media+"button-pointer.png) 334px 50% no-repeat;font-size:20px;line-height:20px;text-decoration: none;color: #fff;padding: 23px 35px 20px;width:300px;margin:30px auto;", href=link) КАРТА САЛОНОВ REDKEN

        div(style="margin:0 auto; padding-top:24px;width:308px; font-size:18px; font-weight:bold; color: #01a68e;") Вступайте в сообщество REDKEN
        div(style="margin:0 auto; padding-top:27px;width:102px")
            a(href=link_fb)
                img(src=media + "fb.jpg")
            a(href=link_inst, style="margin-left:50px;")
                img(src=media + "in.jpg")