- var media = "http://cerafill.ru/img/mail/product/"
- var link_fb = "https://www.facebook.com/REDKEN.HOTLINE.RUSSIA?fref=ts"
- var link_inst = "http://instagram.com/redkenrussia"


div(style="width:700px;background:url("+media+"bg.jpg) top left no-repeat;height:1600px;font-family: helvetica, arial, sans-serif")
    div(style="padding:0 0 0 75px")
        div(style="font-size:24px;padding-top:241px;font-weight:bold;") Наша миссия — быть лидерами в области индустрии профессиональных услуг.
        div(style="font-size:30px;font-weight:bold;padding-top:15px;color:#01a68e;line-height:32px;") Мы делаем все возможное для того, чтобы поддерживать рост профессионального уровня<br> стилистов и мастеров.
        div(style="font-size:18px;padding-top:23px") Данный семинар обеспечит вас всеми знаниями,<br> необходимыми для общения с клиентами с проблемой<br> истончения волос и поиска решения для данного типа<br> проблемы.
        div(style="font-size:24px;padding-top:25px") 10 октября на территории Академии L'oreal<br>пройдет 2 сессии семинара:
        div(style="font-size:24px;font-weight:bold;") с 11.00 до 14.00, и с 15.00 до 18.00.<br> Адрес: Москва, Якиманский пер., 6.
        div(style="font-size:18px;padding-top:33px;") Записаться на семинар можно через вашего коммерческого<br> представителя или в нашей группе в&nbsp;
            a(href=link_fb, style="color:#01a68e;text-decoration:none;border-bottom:1px solid #01a68e") Facebook

        div(style="font-size:18px;font-weight:bold;margin-top:670px;color:#01a68e") Вступайте в сообщество REDKEN и двигайтесь к новым профессиональным высотам вместе с нами!
        div(style="margin:0 auto; padding-top:39px;width:152px")
            a(href=link_fb)
                img(src=media + "fb.jpg")
            a(href=link_inst, style="margin-left:45px;")
                img(src=media + "in.jpg")