section.footer(data-section="footer")
    .inner-wrap
        .social
            a.fb(href="https://www.facebook.com/REDKEN.HOTLINE.RUSSIA?fref=ts", target="_blank")
                img(src="./img/fb.png")
            a.in(href="http://instagram.com/redkenrussia", target="_blank")
                img(src="./img/in.png")
        .copy Copyright © 2014