extends ./wrapper

block content
    #wrap
        #scroller
        section.header(data-section="video")
            .video
                if is_desktop
                    video#video.video-js.vjs-default-skin
                        source(src="./video/Cerafill_GENERIC_062214_btr.mp4", type="video/mp4")
                        source(src="./video/Cerafill_GENERIC_062214_btr.webm", type="video/webm")

                else
                    .swiper-container
                        .swiper-wrapper
                            .swiper-slide
                                img(src='img/slider/1.jpg')
                            .swiper-slide
                                img(src='img/slider/2.jpg')
                            .swiper-slide
                                img(src='img/slider/3.jpg')
                            .swiper-slide
                                img(src='img/slider/4.jpg')
                            .swiper-slide
                                img(src='img/slider/5.jpg')
                        .pagination



            .header-text
                if is_desktop
                    .htext.htext-1 Доверьте здоровье своих волос тому, кому вы доверяете их красоту.
                    .htext.htext-2
                        p Инновационный продукт<br> и внимание твоего мастера<br> к состоянию волос
                        p(style="font-size:37px;margin-top:20px") - это и есть решение деликатной проблемы.
                    .htext.htext-3
                        img(src="/img/vid-img-1.png")
                    .htext.htext-4
                        img(src="/img/vid-img-2.png")
                    .htext.htext-5
                        img(src="/img/vid-img-3.png")

            a.button(href="#") Как работает CERAFILL?

        include menu

        section.full.shadow-bg.reasons#inner(data-section="reasons")
            .inner-wrap.tocenter
                article
                    h1.margin-control Причина истончения волос кроется не в самом волосе,<br>а в нарушении нормального цикла роста волос.
                    p Продукты CERAFILL помогут поддержать плотность истонченных волос на разных этапах.
                    p.grey.margin-control Заметное уплотнение волос<sup>**</sup>

                    ul.reasons
                        li(style="background-image: url(img/reason-1.jpg)")
                            .text
                                span керамиды
                                | укрепляют фибру и предохраняют волос<br>от ломкости
                        li(style="background-image: url(img/reason-2.jpg)")
                            .text
                                span SP-94
                                | содержит необходимые элементы для создания благоприятной среды
                        li(style="background-image: url(img/reason-3.jpg)")
                            .text
                                span филлоксан
                                | обволакивает каждый волос, добавляя плотности
                        li(style="background-image: url(img/reason-4.jpg)")
                            .text
                                span(style="font-size:24px;padding-top:12px") стемоксидин 5%
                                | пробуждает волосяные луковицы в фолликулах волос

                    p.context <sup>*</sup>Клиническое исследование Стемоксидин 5% по сравнению с плацебо, 101 человек
                    p.context <sup>**</sup>При использовании шампуня, кондиционера и ухода Cerafill Dense Fx™

        section.full.know-where(data-section="know-where")
            .inner-wrap
                article.tocenter
                    .form
                        .text Узнай, где ты сможешь получить консультацию и правильно подобрать продукцию CERAFILL

                        form
                            input(type="hidden", value="product", name="type")
                            input(type="text", placeholder="E-mail", name="email")
                            input(type="submit", value="ОТПРАВИТЬ")
                            .checkbox
                                input(type="checkbox", name="agree", id="agree", checked="checked")
                                label(for="agree")  Я согласен на обработку моих персональных данных.

            #map

        section.full.products-platform(data-section="products-platform")
            .inner-wrap
                a.button(href="/products") ПЛАТФОРМА ПРОДУКТОВ

        include footer


block scripts
    script
        :coffee
             document.pages = [
                  "video"
                  "reasons"
                  "know-where"
                  "products-platform"
                  "footer"
                ]
    script(src="https://maps.googleapis.com/maps/api/js?v=3.exp")
    script(src="https://googlemaps.github.io/js-rich-marker/src/richmarker-compiled.js")

    if is_desktop
        script(src="/js/video.js")

    else
        script(src="/js/slider.js")