#menu
    .inner-wrap
        .logo
            img(src="img/logo.png")
        ul.menu
            li.main
                a(href="/") о cerafill
            li.professional
                a(href="/professional") профессионалам
            li.products
                a(href="/products") платформа продуктов