extends ./wrapper
block content
    #wrap
        #scroller
        include menu

        section.full.defy(data-section="defy", style="height:800px")

            .inner-wrap.tocenter
                article
                    h2 defy system
                    h3 Для нормальных и истонченных волос

                    .params
                        .param-group
                            .group-hdr Преимущества
                            ul.group-body
                                li.group-item
                                    .item-hdr Заметно уплотняет структуру волоса
                                li.group-item
                                    .item-hdr Придает визуальный объем
                                li.group-item
                                    .item-hdr Цинк PCA
                                    .item-desc.
                                        увлажняет кожу головы<br>
                                        регулирует функционирование сальных желез
                                li.group-item
                                    .item-hdr Керамиды
                                    .item-desc.
                                        укрепляют волос<br>
                                        предохраняют его от ломкости
                                li.group-item
                                    .item-hdr SP-94
                                    .item-desc.
                                        питает кожу головы<br>
                                        создавая благоприятную среду для роста волос


                        .param-group
                            .group-hdr Применение
                            .steps.group-body
                                .group-item
                                    span.stepnum Шаг 1
                                    span.step Шампунь
                                .group-item
                                    span.stepnum Шаг 2
                                    span.step Кондиционер
                                .group-item
                                    span.stepnum Шаг 3
                                    span.step Несмываемый уход

                        .param-group
                            .group-hdr Тип волос
                            ul.group-body.hair
                                li.group-item
                                    .item-hdr Нормальные и истонченные волосы
                                        img(src="/img/hair-1.jpg")



        section.full.retaliate(data-section="retaliate", style="height:800px")
            .inner-wrap.tocenter
                article
                    h2 retaliate system
                    h3 Для сильно истонченных волос
                    h3 1700 новых волос за 3 месяца со Стемоксидин 5%*

                    .params
                        .param-group
                            .group-hdr Преимущества
                            ul.group-body
                                li.group-item
                                    .item-hdr Ментол
                                    .item-desc.
                                        успокаивает и охлаждает кожу головы<br>
                                        улучшает кровообращение
                                li.group-item
                                    .item-hdr Керамиды
                                    .item-desc.
                                        укрепляют волос<br>
                                        предохраняют его от ломкости
                                li.group-item
                                    .item-hdr SP-94
                                    .item-desc.
                                        питает кожу головы<br>
                                        создавая благоприятную среду для роста волос
                                li.group-item
                                    .item-hdr Стемоксидин
                                    .item-desc активатор роста волос

                        .param-group
                            .group-hdr Применение
                            .steps.group-body
                                .group-item
                                    span.stepnum Шаг 1
                                    span.step Шампунь
                                .group-item
                                    span.stepnum Шаг 2
                                    span.step Кондиционер
                                .group-item
                                    span.stepnum Шаг 3
                                    span.step Несмываемый уход Stemoxydine Re-Densifying

                        .param-group
                            .group-hdr Тип волос
                            ul.group-body.hair
                                li.group-item
                                    .item-hdr Сильно истонченные волосы
                                        img(src="/img/hair-2.jpg")


        section.full.maximize(data-section="maximize", style="height:800px")
            .inner-wrap.tocenter
                article
                    h2 maximize system
                    h3 Заметное уплотнение волос

                    .params
                        .param-group
                            .group-hdr Преимущества
                            ul.group-body
                                li.group-item
                                    .item-hdr Уплотнение волоса и увеличения его диаметра
                                li.group-item
                                    .item-hdr Мгновенно уплотняет каждый волос<br>и визуально увеличивает объем
                                    .item-desc.
                                        укрепляют волос<br>
                                        предохраняют его от ломкости
                                li.group-item
                                    .item-hdr Формула с Керамидами, SP-94 и Филлоксаном
                                    .item-desc.
                                        позволяет предупредить истончениеи потерю волос

                        .param-group
                            .group-hdr Применение
                            .steps.group-body.
                                Используйте вместе с Defy и  Retaliate<br>
                                для максимального результата


                        .param-group
                            .group-hdr Тип волос
                            ul.group-body.hair
                                li.group-item
                                    .item-hdr Для любого типа истонченных волос
                                        img(src="/img/hair-3.jpg")

        include footer

block scripts
    script
        :coffee
            document.pages = [
                "defy"
                "retaliate"
                "maximize"
                "footer"
            ]