extends ./wrapper
block content
    #wrap
        #scroller
        include menu

        section.full.professional-main(data-section="professional-main", style="height:700px")
            .first-bg.bg
                .sec-bg.bg
                    .bg.shadow-bg
                        .inner-wrap.tocenter
                            article
                                .text
                                    h1 Настоящий профессионал должен взять под свой контроль проблему истонченных волос.
                                    .desc Мы считаем, что ответственность за красоту<br>и здоровье волос твоих клиентов лежит<br> на мастере.
                                    .add.
                                        Уже сегодня вы можете изучить основные причины истончения<br>
                                        волос и помочь клиентам предупредить данную проблему,<br>
                                        провести диагностику и подобрать идеальную систему уходов для<br>
                                        волос, которая поможет вернуть привлекательный внешний вид<br>
                                        волосам, сделает их более плотными и поможет придать объем.

                                    .bottom
                                        img(src="/img/redken-logo.png")
                                        .slogan <span>REDKEN</span> продолжает развивать инновационные технологии и&nbsp;выпускать новые продукты.


        section.full.become(data-section="become", style="height:700px")
            .bg.shadow-bg
                .inner-wrap.tocenter
                    article
                        .form
                            h2 Стань экспертом в области истонченных волос!
                            //.desc Узнай, где ты сможешь получить консультацию и правильно подобрать продукцию <span>CERAFILL</span>

                            form
                                input(type="hidden", value="expert", name="type")
                                input(type="text", placeholder="E-mail", name="email")
                                .checkbox
                                    input(type="checkbox", name="agree", id="agree", checked="checked")
                                    label(for="agree")  Я согласен на обработку моих персональных данных.
                                input(type="submit", value="ЗАПИСАТЬСЯ НА СЕМИНАР")

        section.full.programm(data-section="programm", style="height:700px")
            .inner-wrap.tocenter
                article
                    .points
                        h2 Программа<br>Cerafill Thinning Hair Solutions
                        .point.point-1
                            .hdr Обучение
                            .desc Научные принципы,причины и&nbsp;классификация истончения волос
                        .point.point-2
                            .hdr Советы экспертов
                            .desc Инновации, знания и советы
                        .point.point-3
                            .hdr Консультирование клиентов
                        .point.point-4
                            .hdr Навыки
                            .desc Стайлинг, профессиональные советы по увеличению объема волос

        section.full.why(data-section="why", style="height:700px")
            .inner-wrap.tocenter
                article
                    .text
                        h2 Почему<br>Cerafill Thinning Hair Solutions?
                        img.logo(src="/img/redken-logo-big.png")
                        .desc-1 <span>REDKEN</span> запускает первую профессиональную гамму уходов, разработанную для всех типов и степеней истонченных волос - <span>CERAFILL</span>.
                        .desc-2 Активные компоненты и технологии, входящие в состав продуктов при комплексном применении помогут клиентам уплотнить волосы, придать визуальный объем и вернуть уверенность в себе.

                        .doc
                            img(src="/img/doc.png")
                            .doc-desc
                                .doc-1 Гамма создана при участии
                                .doc-2 доктора Николь Роджерз

                                .doc-3 Лидирующий дерматолог, специализирующегося в области выпадения волос.





        include footer

block scripts
    script
        :coffee
            document.pages = [
                "professional-main"
                "become"
                "programm"
                "why"
                "footer"
            ]