doctype html
html
    <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
    <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
    <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
    <!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        title Cerafill
        meta(name="description", content="")
        meta(name="viewport", content="width=1200, initial-scale=0.5")
        link(rel="stylesheet", href="css/normalize.css")
        link(rel="stylesheet", href="css/video-js.css")
        link(rel="stylesheet", href="css/main.css")
        link(rel="stylesheet", href="css/style.css")
        link(rel="icon", type="image/jpeg", href="/favicon.jpg" )
        if !is_desktop
            link(rel="stylesheet", href="css/scroll.css")
        script(src="js/vendor/modernizr-2.6.2.min.js")

    body.unloaded
        block content

        #preloader
            .bg-1.bg
            .bg-2.bg
            .bg-3.bg

        script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
        script
            :js
                window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')
        script(src="js/vendor/jquery.scrollmagic.min.js")
        script(src="js/vendor/jquery.smooth-scroll.min.js")
        script(src="js/vendor/jquery.sticky.js")
        script(src="js/vendor/jquery.dom.form_params.min.js")
        script(src="js/riot.min.js")
        script(src="js/app.js")
        script(src="js/plugins.js")
        script(src="js/vendor/video.js")
        script(src="js/main.js")

        block scripts
        if is_desktop
            script(src="/js/scroll.js")
        else
            script(src="/js/fixed.js")
            script(src="/js/vendor/idangerous.swiper.min.js")

        script(type="text/javascript")
            :js
                (function (d, w, c) {
                    (w[c] = w[c] || []).push(function() {
                        try {
                            w.yaCounter26371911 = new Ya.Metrika({id:26371911,
                                clickmap:true,
                                trackLinks:true,
                                accurateTrackBounce:true});
                        } catch(e) { }
                    });
                    var n = d.getElementsByTagName("script")[0],
                            s = d.createElement("script"),
                            f = function () { n.parentNode.insertBefore(s, n); };
                    s.type = "text/javascript";
                    s.async = true;
                    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
                    if (w.opera == "[object Opera]") {
                        d.addEventListener("DOMContentLoaded", f, false);
                    } else { f(); }
                })(document, window, "yandex_metrika_callbacks");
        noscript
            div
                img(src="//mc.yandex.ru/watch/26371911", style="position:absolute; left:-9999px;", alt="")
        script
            :js
                  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
                                  ga('create', 'UA-55319062-1', 'auto');
                  ga('send', 'pageview');
