@-webkit-keyframes rotating {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
@-webkit-keyframes showhide {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#wrap {
  min-width: 1280px;
  font-family: helvetica, arial, sans-serif;
/* Standard syntax */
}
#wrap .button {
  background: #01a68e url("../img/button-pointer.png") 95% 50% no-repeat;
  line-height: 20px;
  display: block;
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  padding: 23px 35px 20px;
}
#wrap .inner-wrap {
  width: 1280px;
  margin: 0 auto;
}
#wrap .header {
  width: 100%;
  position: relative;
}
#wrap .header .video {
  overflow: hidden;
}
#wrap .header.rev .header-text .htext-1 {
  -webkit-animation: 4s showhide;
  -moz-animation: 4s showhide;
  -o-animation: 4s showhide;
  animation: 4s showhide;
}
#wrap .header.rev .header-text .htext-2 {
  -webkit-animation: 4s showhide 4.5s;
  -moz-animation: 4s showhide 4.5s;
  -o-animation: 4s showhide 4.5s;
  animation: 4s showhide 4.5s;
}
#wrap .header.rev .header-text .htext-3 {
  -webkit-animation: 4s showhide 9s;
  -moz-animation: 4s showhide 9s;
  -o-animation: 4s showhide 9s;
  animation: 4s showhide 9s;
}
#wrap .header.rev .header-text .htext-4 {
  -webkit-animation: 7s showhide 13.5s;
  -moz-animation: 7s showhide 13.5s;
  -o-animation: 7s showhide 13.5s;
  animation: 7s showhide 13.5s;
}
#wrap .header.rev .header-text .htext-5 {
  -webkit-animation: 6.5s showhide 22s;
  -moz-animation: 6.5s showhide 22s;
  -o-animation: 6.5s showhide 22s;
  animation: 6.5s showhide 22s;
}
#wrap .header .header-text .htext {
  position: absolute;
  color: #fff;
  font-size: 60px;
  font-weight: bold;
  line-height: 55px;
  top: 50%;
}
#wrap .header .header-text .htext-1 {
  left: 50%;
  margin-top: -120px;
  margin-left: -271px;
  width: 600px;
  opacity: 0;
}
#wrap .header .header-text .htext-2 {
  margin-top: -100px;
  left: 50%;
  margin-left: -350px;
  width: 830px;
  opacity: 0;
}
#wrap .header .header-text .htext-2 p {
  margin: 0;
}
#wrap .header .header-text .htext-3 {
  margin-top: -140px;
  left: 50%;
  margin-left: -300px;
  width: 608px;
  opacity: 0;
}
#wrap .header .header-text .htext-4 {
  margin-top: -150px;
  left: 50%;
  margin-left: 30px;
  width: 450px;
  opacity: 0;
}
#wrap .header .header-text .htext-5 {
  margin-top: -140px;
  left: 50%;
  margin-left: -600px;
  width: 520px;
  opacity: 0;
}
#wrap .header .button {
  position: absolute;
  bottom: 10%;
  left: 50%;
  margin-left: -161px;
  width: 253px;
}
#wrap #menu {
  width: 100%;
  z-index: 100;
  height: 0px;
  position: absolute;
}
#wrap #menu .inner-wrap {
  padding-top: 24px;
  background: url("../img/menu-bg.png") left top repeat-x;
  height: 100px;
}
#wrap #menu .logo {
  padding-left: 41px;
  float: left;
}
#wrap #menu ul.menu {
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  width: 800px;
}
#wrap #menu ul.menu li {
  float: left;
}
#wrap #menu ul.menu li a {
  display: inline-block;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  margin: 0 10px;
  padding: 23px 37px;
  color: #fff;
  text-decoration: none;
  -webkit-transition: 0.3s color;
  -moz-transition: 0.3s color;
  -o-transition: 0.3s color;
  transition: 0.3s color;
}
#wrap #menu ul.menu li a:hover {
  color: #01a68e;
}
#wrap #menu ul.menu li.active a {
  color: #01a68e;
  background: url("../img/menu-pointer.png") center 50px no-repeat;
}
#wrap .shadow-bg {
  background: url("../img/shadow-bg.png") left bottom repeat-x;
}
#wrap section.full {
  border-bottom: 10px solid #01a68e;
  padding-top: 124px;
}
#wrap section.know-where {
  background: url("../img/where-bg.jpg") right 92px no-repeat;
}
#wrap section.know-where .inner-wrap {
  height: 320px;
}
#wrap section.products-platform {
  background: url("../img/botlles.jpg") 50% 50% no-repeat;
}
#wrap section.products-platform .inner-wrap {
  position: relative;
  height: 100%;
}
#wrap section.products-platform .inner-wrap a.button {
  left: 50%;
  margin-left: -185px;
  bottom: 100px;
  width: 300px;
  background-position-x: 340px;
  position: absolute;
}
#wrap section.footer {
  height: 210px;
  font-weight: 500;
  font-size: 16px;
}
#wrap section.footer .inner-wrap {
  padding: 65px 0;
}
#wrap section.footer .social,
#wrap section.footer .copy {
  width: 150px;
  margin: 0 auto;
}
#wrap section.footer .social a,
#wrap section.footer .copy a {
  margin: 0 0 0 24px;
}
#wrap section.footer .social a.in,
#wrap section.footer .copy a.in {
  margin-left: 36px;
}
#wrap section.footer .copy {
  padding: 46px 0;
}
#wrap .inner-wrap {
  width: 100%;
}
#wrap .inner-wrap article {
  padding: 0 50px 0 90px;
}
#wrap .inner-wrap article h1 {
  margin: 0 0 16px;
  padding: 0;
  font-weight: bold;
  font-size: 40px;
  color: #01a68e;
  line-height: 40px;
}
#wrap .inner-wrap article p {
  font-weight: bold;
  color: #01a68e;
  margin: 0;
  padding: 0;
  font-size: 24px;
}
#wrap .inner-wrap article p.grey {
  color: #7f7f7f;
}
#wrap .inner-wrap article p.context {
  color: #7f7f7f;
  font-size: 12px;
  font-weight: 200;
  line-height: 18px;
}
#wrap .inner-wrap article .reasons {
  overflow: hidden;
  list-style: none;
  margin: 39px 0 16px 0;
  padding: 0;
}
#wrap .inner-wrap article .reasons li {
  overflow: hidden;
  margin: 10px 28px;
  padding: 0;
  float: left;
  background: 50% 50% no-repeat;
  border: 3px solid #01a68e;
  border-radius: 50%;
  width: 228px;
  height: 228px;
}
#wrap .inner-wrap article .reasons li:first-child {
  margin-left: 0;
}
#wrap .inner-wrap article .reasons li .text {
  opacity: 0;
  -webkit-transition: 0.5s opacity;
  -moz-transition: 0.5s opacity;
  -o-transition: 0.5s opacity;
  transition: 0.5s opacity;
  background: #fff;
  width: 206px;
  height: 176px;
  border-radius: 50%;
  border: 1px solid transparent;
  color: #01a68e;
  font-weight: 100;
  font-size: 18px;
  padding: 50px 0 0 20px;
}
#wrap .inner-wrap article .reasons li .text span {
  font-size: 30px;
  font-weight: bold;
  display: block;
}
#wrap .inner-wrap article .reasons li:hover .text {
  opacity: 1;
}
#wrap .know-where article {
  overflow: hidden;
  padding-bottom: 122px;
}
#wrap .know-where article .text {
  color: #1f8ec1;
  font-size: 30px;
  font-weight: bold;
  float: left;
  width: 550px;
  line-height: 36px;
}
#wrap .know-where article form {
  font-size: 18px;
  width: 550px;
  float: left;
  padding: 30px 0;
}
#wrap .know-where article form .checkbox {
  padding: 13px 0;
  background: #fff;
}
#wrap .know-where article form input {
  outline: none;
  border: 2px solid #1f8ec1;
}
#wrap .know-where article form input[type="text"] {
  color: #1f8ec1;
  font-style: italic;
  padding: 15px 42px;
  width: 296px;
}
#wrap .know-where article form input[type="text"]:focus {
  border-color: #000;
  color: #000;
}
#wrap .know-where article form input[type="text"].error {
  border-color: #f00;
  color: #f00;
  background: #fff url("/img/redcross.png") 95% 50% no-repeat;
}
#wrap .know-where article form input[type="submit"] {
  background: #1f8ec1;
  color: #fff;
  padding: 15px 26px;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
#wrap .know-where article form input[type="submit"]:hover {
  background: #63b0d4;
}
#wrap .know-where article form input[type="checkbox"] {
  display: none;
}
#wrap .know-where article form input[type="checkbox"] + label {
  font-size: 14px;
  font-weight: lighter;
  cursor: pointer;
}
#wrap .know-where article form input[type="checkbox"] + label::before {
  content: "";
  display: inline-block;
  height: 15px;
  width: 15px;
  margin: 0 5px -3px 0;
  background-image: url("/img/sprite.jpg");
  background-repeat: no-repeat;
}
#wrap .know-where article form input[type="checkbox"] + label::before {
  height: 15px;
  width: 15px;
}
#wrap .know-where article form input[type="checkbox"] + label::before {
  background-position: 0px -15px;
}
#wrap .know-where article form input[type="checkbox"]:checked + label::before {
  background-position: 0px 0px;
}
#wrap .know-where #map {
  position: relative;
  width: 100%;
  height: 300px;
}
#wrap .know-where #map:before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: transparent url("/img/map-shadow.png") top left repeat-x;
  z-index: 1;
}
#wrap .know-where #map:after {
  content: "Здесь ты можешь найти CERAFILL";
  position: absolute;
  display: block;
  color: #01a68e;
  font-size: 30px;
  font-weight: bold;
  top: 40px;
  left: 90px;
}
#wrap .bg {
  width: 100%;
  height: 100%;
}
#wrap .bg.sec-bg {
  background: url("../img/bg-top-prof.png") left top no-repeat;
}
#wrap section.professional-main {
  background: url("../img/hand.jpg") bottom right no-repeat;
}
#wrap section.professional-main .text {
  width: 620px;
  padding-top: 40px;
}
#wrap section.professional-main .text h1 {
  color: #01a68e;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 29px;
}
#wrap section.professional-main .text .desc {
  font-size: 24px;
  font-weight: bold;
  color: #656565;
  line-height: 24px;
  margin-bottom: 14px;
}
#wrap section.professional-main .text .add {
  font-size: 18px;
  line-height: 24px;
  font-weight: 200;
  padding-bottom: 24px;
  width: 550px;
  border-bottom: 1px solid #656565;
}
#wrap section.professional-main .text .bottom {
  font-weight: 200;
  padding: 21px 35px;
}
#wrap section.professional-main .text .bottom img {
  padding: 18px 0;
  float: left;
}
#wrap section.professional-main .text .bottom .slogan {
  font-size: 18px;
  line-height: 22px;
  overflow: hidden;
  padding-left: 38px;
}
#wrap section.professional-main .text .bottom span {
  font-weight: bold;
}
#wrap section.become {
  background: url("../img/bg-become.jpg") right 50% no-repeat;
  background-size: auto 85%;
}
#wrap section.become .form {
  width: 570px;
}
#wrap section.become .form h2 {
  color: #1f8ec1;
  font-size: 40px;
  line-height: 40px;
  margin: 0 0 34px;
}
#wrap section.become .form .desc {
  font-weight: 200;
  font-size: 25px;
  line-height: 30px;
}
#wrap section.become .form .desc span {
  font-weight: bold;
}
#wrap section.become .form form {
  text-align: right;
  font-size: 18px;
  width: 550px;
  float: left;
  padding: 36px 0;
}
#wrap section.become .form form .checkbox {
  text-align: left;
  margin: 0 0 20px 2px;
}
#wrap section.become .form form input {
  outline: none;
  border: 2px solid #1f8ec1;
}
#wrap section.become .form form input[type="text"] {
  color: #1f8ec1;
  font-style: italic;
  padding: 15px 42px;
  width: 460px;
  margin-bottom: 6px;
}
#wrap section.become .form form input[type="text"]:focus {
  border-color: #000;
  color: #000;
}
#wrap section.become .form form input[type="text"].error {
  border-color: #f00;
  color: #f00;
  background: #fff url("/img/redcross.png") 90% 50% no-repeat;
}
#wrap section.become .form form input[type="submit"] {
  background: #1f8ec1;
  color: #fff;
  padding: 15px 26px;
}
#wrap section.become .form form input[type="submit"]:hover {
  background: #63b0d4;
}
#wrap section.become .form form input[type="checkbox"] {
  display: none;
}
#wrap section.become .form form input[type="checkbox"] + label {
  font-size: 14px;
  font-weight: lighter;
  cursor: pointer;
}
#wrap section.become .form form input[type="checkbox"] + label::before {
  content: "";
  display: inline-block;
  height: 15px;
  width: 15px;
  margin: 0 5px -3px 0;
  background-image: url("/img/sprite.jpg");
  background-repeat: no-repeat;
}
#wrap section.become .form form input[type="checkbox"] + label::before {
  height: 15px;
  width: 15px;
}
#wrap section.become .form form input[type="checkbox"] + label::before {
  background-position: 0px -15px;
}
#wrap section.become .form form input[type="checkbox"]:checked + label::before {
  background-position: 0px 0px;
}
#wrap section.programm {
  background: url("../img/bg-program.jpg") right bottom no-repeat;
}
#wrap section.programm .inner-wrap article {
  padding-top: 3px;
}
#wrap section.programm .inner-wrap article .points {
  background: url("../img/programm-sprite.png") 0 112px no-repeat;
  width: 570px;
}
#wrap section.programm .inner-wrap article .points h2 {
  color: #01a68e;
  font-size: 36px;
  line-height: 36px;
  margin: 0 0 34px;
}
#wrap section.programm .inner-wrap article .points .point {
  border-bottom: 1px solid #c9c9c9;
  padding-left: 114px;
  padding-top: 13px;
  padding-bottom: 5px;
  line-height: 30px;
}
#wrap section.programm .inner-wrap article .points .point .hdr {
  font-size: 30px;
  font-weight: bold;
}
#wrap section.programm .inner-wrap article .points .point .desc {
  font-size: 24px;
  font-weight: 200;
}
#wrap section.programm .inner-wrap article .points .point.point-2 {
  padding-top: 32px;
  padding-bottom: 19px;
}
#wrap section.programm .inner-wrap article .points .point.point-3 {
  padding-top: 39px;
  padding-bottom: 42px;
}
#wrap section.programm .inner-wrap article .points .point.point-4 {
  padding-top: 15px;
}
#wrap section.why {
  background: url("../img/bg-why.jpg") right bottom no-repeat;
}
#wrap section.why article {
  padding-top: 0;
}
#wrap section.why article .text {
  width: 570px;
}
#wrap section.why article .text h2 {
  color: #01a68e;
  font-size: 36px;
  line-height: 36px;
  margin: 0 0 34px;
}
#wrap section.why article .text img.logo {
  margin: 24px 0 17px;
}
#wrap section.why article .text .desc-1 {
  font-size: 24px;
  line-height: 29px;
}
#wrap section.why article .text .desc-1 span {
  font-weight: bold;
}
#wrap section.why article .text .desc-2 {
  font-size: 18px;
  font-weight: 200;
  margin: 6px 0 0;
  padding-bottom: 32px;
  line-height: 22px;
  border-bottom: 1px solid #c9c9c9;
}
#wrap section.why article .text .doc {
  padding: 14px 2px;
}
#wrap section.why article .text .doc img {
  float: left;
  margin-right: 34px;
}
#wrap section.why article .text .doc .doc-desc {
  overflow: hidden;
}
#wrap section.why article .text .doc .doc-desc .doc-1 {
  font-size: 18px;
  font-weight: 200;
  margin-top: 6px;
}
#wrap section.why article .text .doc .doc-desc .doc-2 {
  font-size: 24px;
  font-weight: bold;
}
#wrap section.why article .text .doc .doc-desc .doc-3 {
  font-size: 14px;
  font-weight: 200;
  margin-top: 7px;
  line-height: 17px;
}
#wrap section.defy article,
#wrap section.retaliate article,
#wrap section.maximize article {
  margin-top: 7px;
}
#wrap section.defy h2,
#wrap section.retaliate h2,
#wrap section.maximize h2 {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
  line-height: 40px;
}
#wrap section.defy h3,
#wrap section.retaliate h3,
#wrap section.maximize h3 {
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}
#wrap section.defy .params,
#wrap section.retaliate .params,
#wrap section.maximize .params {
  margin: 24px 0 0;
  width: 550px;
}
#wrap section.defy .params .param-group,
#wrap section.retaliate .params .param-group,
#wrap section.maximize .params .param-group {
  padding: 6px 0;
  border-bottom: 1px solid #cdcdcd;
}
#wrap section.defy .params .param-group:first-child,
#wrap section.retaliate .params .param-group:first-child,
#wrap section.maximize .params .param-group:first-child {
  border-top: 1px solid #cdcdcd;
}
#wrap section.defy .params .param-group .group-hdr,
#wrap section.retaliate .params .param-group .group-hdr,
#wrap section.maximize .params .param-group .group-hdr {
  float: left;
  font-size: 14px;
  font-weight: 200;
  width: 95px;
}
#wrap section.defy .params .param-group .group-body,
#wrap section.retaliate .params .param-group .group-body,
#wrap section.maximize .params .param-group .group-body {
  margin: 0;
  overflow: hidden;
}
#wrap section.defy .params .param-group .group-body li.group-item,
#wrap section.retaliate .params .param-group .group-body li.group-item,
#wrap section.maximize .params .param-group .group-body li.group-item {
  margin-bottom: 1px;
}
#wrap section.defy .params .param-group .group-body li.group-item .item-hdr,
#wrap section.retaliate .params .param-group .group-body li.group-item .item-hdr,
#wrap section.maximize .params .param-group .group-body li.group-item .item-hdr {
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
}
#wrap section.defy .params .param-group .group-body li.group-item .item-desc,
#wrap section.retaliate .params .param-group .group-body li.group-item .item-desc,
#wrap section.maximize .params .param-group .group-body li.group-item .item-desc {
  font-weight: 200;
  font-size: 14px;
  line-height: 15px;
  padding-left: 14px;
}
#wrap section.defy .params .param-group .group-body.steps,
#wrap section.retaliate .params .param-group .group-body.steps,
#wrap section.maximize .params .param-group .group-body.steps {
  padding-left: 30px;
}
#wrap section.defy .params .param-group .group-body.steps .group-item .stepnum,
#wrap section.retaliate .params .param-group .group-body.steps .group-item .stepnum,
#wrap section.maximize .params .param-group .group-body.steps .group-item .stepnum {
  font-size: 14px;
  margin-right: 10px;
}
#wrap section.defy .params .param-group .group-body.steps .group-item .step,
#wrap section.retaliate .params .param-group .group-body.steps .group-item .step,
#wrap section.maximize .params .param-group .group-body.steps .group-item .step {
  font-size: 16px;
  font-weight: bold;
}
#wrap section.defy .params .param-group .group-body.hair,
#wrap section.retaliate .params .param-group .group-body.hair,
#wrap section.maximize .params .param-group .group-body.hair {
  padding-left: 30px;
  list-style: none;
}
#wrap section.defy .params .param-group .group-body.hair img,
#wrap section.retaliate .params .param-group .group-body.hair img,
#wrap section.maximize .params .param-group .group-body.hair img {
  margin: 10px 0;
}
#wrap section.defy.defy,
#wrap section.retaliate.defy,
#wrap section.maximize.defy {
  background: url("../img/bg-defy.jpg") 85% 77% no-repeat;
}
#wrap section.defy.defy h2,
#wrap section.retaliate.defy h2,
#wrap section.maximize.defy h2,
#wrap section.defy.defy h3,
#wrap section.retaliate.defy h3,
#wrap section.maximize.defy h3 {
  color: #01a68e;
}
#wrap section.defy.retaliate,
#wrap section.retaliate.retaliate,
#wrap section.maximize.retaliate {
  background: url("../img/bg-retaliate.jpg") 94% 77% no-repeat;
}
#wrap section.defy.retaliate h2,
#wrap section.retaliate.retaliate h2,
#wrap section.maximize.retaliate h2,
#wrap section.defy.retaliate h3,
#wrap section.retaliate.retaliate h3,
#wrap section.maximize.retaliate h3 {
  color: #1f8ec1;
}
#wrap section.defy.maximize,
#wrap section.retaliate.maximize,
#wrap section.maximize.maximize {
  background: url("../img/bg-maximize.jpg") 100% 77% no-repeat;
}
#preloader {
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  z-index: -1;
  opacity: 0;
  width: 100%;
  height: 100%;
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
}
#preloader .bg {
  position: absolute;
  top: 50%;
  left: 50%;
}
#preloader .bg.bg-1 {
  width: 650px;
  height: 650px;
  margin-left: -325px;
  margin-top: -325px;
  background: url("../img/preloader-big.png") 50% 50% no-repeat;
  -webkit-animation: rotating 10s linear infinite;
  -moz-animation: rotating 10s linear infinite;
  -ms-animation: rotating 10s linear infinite;
  -o-animation: rotating 10s linear infinite;
  animation: rotating 10s linear infinite;
}
#preloader .bg.bg-2 {
  width: 360px;
  height: 360px;
  margin-left: -180px;
  margin-top: -180px;
  background: url("../img/preloader.png") 50% 50% no-repeat;
}
#preloader .bg.bg-3 {
  width: 274px;
  height: 120px;
  margin-left: -137px;
  margin-top: -60px;
  background: url("../img/preloader-logo.png") 50% 50% no-repeat;
}
.unloaded #preloader {
  opacity: 1;
  z-index: 1000;
}
.map-marker {
  height: 38px;
  width: 26px;
  background: url("/img/map-icon.png");
  margin-bottom: -50px;
  background-size: 100% 100%;
}
.tocenter {
  overflow: hidden;
}
.popup {
  height: 160px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -450px;
  width: 900px;
  background: #fff;
  -webkit-box-shadow: 0 0 30px rgba(0,0,0,0.7);
  -moz-box-shadow: 0 0 30px rgba(0,0,0,0.7);
  -o-box-shadow: 0 0 30px rgba(0,0,0,0.7);
  box-shadow: 0 0 30px rgba(0,0,0,0.7);
}
.popup .close {
  width: 50px;
  height: 50px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  background: transparent url("/img/close-bg.png") 50% 50% no-repeat;
}
.popup .popup-text {
  color: #1f8ec1;
  font-size: 24px;
  padding: 43px 100px;
}
.popup .popup-text h4 {
  font-size: 30px;
  margin: 0;
}
.template {
  display: none !important;
}
@-moz-keyframes rotating {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
@-webkit-keyframes rotating {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
@-o-keyframes rotating {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
@-moz-keyframes showhide {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes showhide {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes showhide {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes showhide {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
