vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  -o-{prop} args
  {prop} args

@keyframes rotating {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}


@keyframes showhide {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes showhide {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

mainColor = #01a68e
secColor = #1f8ec1

#wrap

  .button
    background mainColor url(../img/button-pointer.png) 95% 50% no-repeat
    line-height 20px
    display block
    font-weight 600
    font-size 20px
    text-decoration none
    color #FFF
    padding 23px 35px 20px

  .inner-wrap
    width 1280px
    margin 0 auto

  min-width 1280px
  font-family helvetica, arial, sans-serif

  .header
    width 100%
    position relative
    .video
      overflow hidden

    &.rev
      .header-text
        .htext-1
          vendor(animation, 4s showhide)
        .htext-2
          vendor(animation, 4s showhide 4.5s)
        .htext-3
          vendor(animation, 4s showhide 9s)
        .htext-4
          vendor(animation, 7s showhide 13.5s)
        .htext-5
          vendor(animation, 6.5s showhide 22s)

    .header-text
      .htext
        position absolute
        color #FFF
        font-size 60px
        font-weight bold
        line-height 55px
        top 50%
      .htext-1
        left 50%
        margin-top -120px
        margin-left -271px
        width 600px
        opacity 0
      .htext-2
        margin-top -100px
        left 50%
        margin-left -350px
        width 830px
        opacity 0
        p
          margin 0


      .htext-3
        margin-top -140px
        left 50%
        margin-left -300px
        width 608px
        opacity 0


      .htext-4
        margin-top -150px
        left 50%
        margin-left 30px
        width 450px
        opacity 0
      .htext-5
        margin-top -140px
        left 50%
        margin-left -600px
        width 520px
        opacity 0


    .button
      position absolute
      bottom 10%
      left 50%
      margin-left -161px
      width 253px

  #menu
    width 100%
    z-index 100
    height 0px
    position absolute
    .inner-wrap
      padding-top 24px
      background url(../img/menu-bg.png) left top repeat-x
      height 100px


    .logo
      padding-left 41px
      float left

    ul.menu
      overflow hidden
      margin 0 auto
      padding 0
      list-style none
      width 800px

      li
        float left

        a
          display inline-block
          font-weight 500
          font-size 20px
          line-height 20px
          margin 0 10px
          padding 23px 37px

          color #ffffff
          text-decoration none
          vendor(transition, .3s color)

          &:hover
            color mainColor

        &.active
          a
            color mainColor
            background url(../img/menu-pointer.png) center 50px no-repeat

  .shadow-bg
    background: url(../img/shadow-bg.png) left bottom repeat-x
  /* Standard syntax */

  section.full
    border-bottom 10px solid mainColor
    padding-top 124px

  section.know-where
    background: url(../img/where-bg.jpg) right 92px no-repeat

    .inner-wrap
      height 320px

  section.products-platform
    background url(../img/botlles.jpg) 50% 50% no-repeat
    .inner-wrap
      position relative
      height 100%

      a.button
        left 50%
        margin-left - 185px
        bottom 100px
        width 300px
        background-position-x: 340px
        position absolute

  section.footer
    height 210px
    font-weight 500
    font-size 16px

    .inner-wrap
      padding 65px 0

    .social, .copy
      width 150px
      margin 0 auto

      a
        margin 0 0 0 24px

        &.in
          margin-left 36px

    .copy
      padding 46px 0

  .inner-wrap
    width 100%
    article
      padding 0 50px 0 90px

      h1
        margin 0 0 16px
        padding 0
        font-weight bold
        font-size 40px
        color mainColor
        line-height 40px

      p
        font-weight bold
        color mainColor
        margin 0
        padding 0
        font-size 24px

        &.grey
          color #7f7f7f

        &.context
          color #7f7f7f
          font-size 12px
          font-weight 200
          line-height 18px

      .reasons
        overflow hidden
        list-style none
        margin 39px 0 16px 0
        padding 0

        li
          overflow hidden
          margin 10px 28px
          padding 0
          float left
          background 50% 50% no-repeat
          border 3px solid mainColor
          border-radius 50%
          width 228px
          height 228px

          &:first-child
            margin-left 0

          .text
            opacity 0
            vendor(transition, .5s opacity)
            background #FFF
            width 206px
            height 176px
            border-radius 50%
            border 1px solid transparent
            color mainColor
            font-weight 100

            font-size 18px
            padding 50px 0 0 20px

            span
              font-size 30px
              font-weight bold
              display block



          &:hover
            .text
              opacity 1
  .know-where
    article

      overflow hidden
      padding-bottom 122px
      .text
        color secColor
        font-size 30px
        font-weight bold
        float left
        width 550px
        line-height 36px

      form
        font-size 18px

        width 550px
        float left
        padding 30px 0


        .checkbox
          padding 13px 0
          background #fff

        input
          outline none
          border 2px solid secColor

          &[type="text"]
            color secColor
            font-style italic
            padding 15px 42px
            width 296px
            &:focus
              border-color #000
              color #000
            &.error
              border-color #ff0000
              color #ff0000
              background #FFF url(/img/redcross.png) 95% 50% no-repeat


          &[type="submit"]
            background secColor
            color #FFF
            padding 15px 26px
            vendor(transition, 1s )
            &:hover
              background #63b0d4



          &[type="checkbox"]
            display: none
            & + label
              font-size 14px
              font-weight lighter
              cursor: pointer
              &::before
                content: ""
                display: inline-block
                height: 15px
                width: 15px
                margin: 0 5px -3px 0
                background-image: url(/img/sprite.jpg)
                background-repeat: no-repeat
            & + label
              &::before
                height: 15px
                width: 15px
            & + label::before
              background-position: 0px -15px
            &:checked + label::before
              background-position: 0px 0px


    #map
      position relative
      width 100%
      height 300px

      &:before
        content " "
        display block
        position absolute
        top 0
        left 0
        width 100%
        height 60px
        background transparent url(/img/map-shadow.png) top left repeat-x
        z-index 1

      &:after
        content "Здесь ты можешь найти CERAFILL"
        position absolute
        display block
        color mainColor
        font-size 30px
        font-weight bold
        top 40px
        left 90px



  .bg
    width 100%
    height 100%
    &.sec-bg
      background url(../img/bg-top-prof.png) left top no-repeat

  section.professional-main

    background url(../img/hand.jpg) bottom right no-repeat
    .text
      width 620px
      padding-top 40px
      h1
        color mainColor
        font-size 36px
        line-height 36px
        margin-bottom 29px

      .desc
        font-size 24px
        font-weight bold
        color #656565
        line-height 24px
        margin-bottom 14px

      .add
        font-size 18px
        line-height 24px
        font-weight 200
        padding-bottom 24px
        width 550px
        border-bottom 1px solid #656565

      .bottom
        font-weight 200
        padding 21px 35px

        img
          padding 18px 0
          float left

        .slogan
          font-size 18px
          line-height 22px
          overflow hidden
          padding-left 38px
        span
          font-weight bold

  section.become
    background url(../img/bg-become.jpg) right 50% no-repeat
    background-size auto 85%
    .form
      width 570px
      h2
        color secColor
        font-size 40px
        line-height 40px
        margin 0 0 34px

      .desc
        font-weight 200
        font-size 25px
        line-height 30px
        span
          font-weight bold

      form
        text-align right
        font-size 18px

        width 550px
        float left
        padding 36px 0

        .checkbox
          text-align left
          margin 0 0 20px 2px

        input
          outline none
          border 2px solid secColor

          &[type="text"]
            color secColor
            font-style italic
            padding 15px 42px
            width 460px
            margin-bottom 6px
            &:focus
              border-color #000
              color #000
            &.error
              border-color #ff0000
              color #ff0000
              background #FFF url(/img/redcross.png) 90% 50% no-repeat

          &[type="submit"]
            background secColor
            color #FFF
            padding 15px 26px
            &:hover
              background #63b0d4

          &[type="checkbox"]
            display: none
            & + label
              font-size 14px
              font-weight lighter
              cursor: pointer
              &::before
                content: ""
                display: inline-block
                height: 15px
                width: 15px
                margin: 0 5px -3px 0
                background-image: url(/img/sprite.jpg)
                background-repeat: no-repeat
            & + label
              &::before
                height: 15px
                width: 15px
            & + label::before
              background-position: 0px -15px
            &:checked + label::before
              background-position: 0px 0px

  section.programm
    background url(../img/bg-program.jpg) right bottom no-repeat
    .inner-wrap
      article
        padding-top 3px
        .points
          background url("../img/programm-sprite.png") 0 112px no-repeat
          width 570px
          h2
            color mainColor
            font-size 36px
            line-height 36px
            margin 0 0 34px

          .point
            border-bottom 1px solid #c9c9c9
            padding-left 114px
            padding-top 13px
            padding-bottom 5px
            line-height 30px
            .hdr
              font-size 30px
              font-weight bold

            .desc
              font-size 24px
              font-weight 200

            &.point-2
              padding-top 32px
              padding-bottom 19px
            &.point-3
              padding-top 39px
              padding-bottom 42px
            &.point-4
              padding-top 15px

  section.why
    background url(../img/bg-why.jpg) right bottom no-repeat
    article
      padding-top 0
      .text
        width 570px

        h2
          color mainColor
          font-size 36px
          line-height 36px
          margin 0 0 34px

        img.logo
          margin 24px 0 17px

        .desc-1
          font-size 24px
          line-height 29px
          span
            font-weight bold

        .desc-2
          font-size 18px
          font-weight 200
          margin 6px 0 0
          padding-bottom 32px
          line-height 22px
          border-bottom 1px solid #c9c9c9

        .doc
          padding 14px 2px
          img
            float left
            margin-right 34px

          .doc-desc
            overflow hidden
            .doc-1
              font-size 18px
              font-weight 200
              margin-top 6px

            .doc-2
              font-size 24px
              font-weight bold

            .doc-3
              font-size 14px
              font-weight 200
              margin-top 7px
              line-height 17px

  section.defy, section.retaliate, section.maximize
    article
      margin-top 7px

    h2
      font-size 40px
      font-weight bold
      margin 0
      line-height 40px

    h3
      font-size 18px
      font-weight normal
      margin 0

    .params
      margin 24px 0 0
      width 550px
      .param-group
        padding 6px 0
        border-bottom 1px solid #cdcdcd
        &:first-child
          border-top 1px solid #cdcdcd

        .group-hdr
          float left
          font-size 14px
          font-weight 200
          width 95px
        .group-body
          margin 0
          overflow hidden
          li.group-item
            margin-bottom 1px
            .item-hdr
              font-weight bold
              font-size 16px
              line-height 16px
            .item-desc
              font-weight 200
              font-size 14px
              line-height 15px
              padding-left 14px

          &.steps
            padding-left 30px
            .group-item
              .stepnum
                font-size 14px
                margin-right 10px
              .step
                font-size 16px
                font-weight bold

          &.hair
            padding-left 30px
            list-style none

            img
              margin 10px 0
    &.defy
      background url("../img/bg-defy.jpg") 85% 77% no-repeat
      h2, h3
        color mainColor

    &.retaliate
      h2, h3
        color secColor
      background url(../img/bg-retaliate.jpg) 94% 77% no-repeat

    &.maximize
      background url(../img/bg-maximize.jpg) 100% 77% no-repeat

#preloader
    vendor(transition, 2s)
    z-index -1
    opacity 0
    width 100%
    height 100%
    background #000
    position fixed
    top 0
    left 0

    .bg
      position absolute
      top 50%
      left 50%

      &.bg-1
        width 650px
        height 650px
        margin-left -325px
        margin-top -325px
        background url(../img/preloader-big.png) 50% 50% no-repeat

        -webkit-animation: rotating 10s linear infinite;
        -moz-animation: rotating 10s linear infinite;
        -ms-animation: rotating 10s linear infinite;
        -o-animation: rotating 10s linear infinite;
        animation: rotating 10s linear infinite;

      &.bg-2
        width 360px
        height 360px
        margin-left -180px
        margin-top -180px
        background url(../img/preloader.png) 50% 50% no-repeat

      &.bg-3
        width 274px
        height 120px
        margin-left -137px
        margin-top -60px
        background url(../img/preloader-logo.png) 50% 50% no-repeat

.unloaded
  #preloader
    opacity 1
    z-index 1000

.map-marker
  height 38px
  width 26px
  background url(/img/map-icon.png)
  margin-bottom -50px
  background-size 100% 100%

.tocenter
  overflow hidden

.popup
  height 160px
  position absolute
  top 0
  left 50%
  margin-left -450px
  width 900px
  background #FFF
  vendor(box-shadow, 0 0 30px rgba(0, 0, 0, .7))

  .close
    width 50px
    height 50px
    cursor pointer
    position absolute
    top 0
    right 0
    background transparent url(/img/close-bg.png) 50% 50% no-repeat

  .popup-text
    color secColor
    font-size 24px
    padding 43px 100px
    h4
      font-size 30px
      margin 0

.template
  display none!important